@using System.Globalization
@rendermode InteractiveServer

<div class="p-0 m-0 div-menu-center " style="width: 100%; height: 100%">
    <div class="row m-0 padding-1px   border-enveloping-custom"
         style=" width: 100%; height: 18%; overflow-y: scroll; overflow-x: hidden; background-color: #ffffff;">
        <div class="col-12 p-0 m-0 ">
            <div class="row p-0 m-0  " style=" width: 100%; height: 100%;">
                <div class="col-2 m-0  text-lg-start border-enveloping-custom"
                     style="word-break: break-all; white-space: pre-line;  height: 100%; padding-left: 5px;">
                    @_acitveTable?.TokenProcess
                </div>
                <div class="col-10 m-0  text-lg-start border-enveloping-custom"
                     style="word-break: break-all; white-space: pre-line;  height: 100%; padding-left: 5px;">
                    @{
                        if (_arrErrors.Any() is false && !string.IsNullOrWhiteSpace(_acitveTable?.TokenProcess))
                        {
                            <p class=" p-0 m-0">ok ...</p>
                        }

                        foreach (var line in _arrErrors)
                        {
                            <p class=" p-0 m-0">@line</p>
                        }
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="row m-0  padding-1px  border-enveloping-custom"
         style=" width: 100%; height: 72%; overflow-y: scroll; overflow-x: hidden; background-color: #ffffff;">
        <div class="col-12 p-0 m-0    ">

            <div class="p-0 m-0 "
                 style="display: flex; flex-direction: column; word-break: break-all; white-space: normal;">

                <table>

                    <thead>
                    <tr>
                        <th scope="col">PROCESS</th>
                        <th scope="col">TOKEN</th>
                        <th scope="col">DATE START</th>
                        <th scope="col">DATE LAST UPDATE</th>
                        <th scope="col">STATE</th>
                    </tr>
                    </thead>

                    <tbody>

                    @{
                        foreach (var table in _listProcessPanel)
                        {
                            var color = GetColorState(table.State);
                            var styleTr = string.Empty;
                            if (table.IdBpmnProcess == _acitveTable.IdBpmnProcess && table.TokenProcess == _acitveTable.TokenProcess)
                            {
                                styleTr = "check-tr";
                            }

                            <tr class="bottom-shadow @styleTr" style=""
                                @onclick="@(() => ButtonClickObjectAsync(table))">
                                <td>@table.IdBpmnProcess</td>
                                <td>@table.TokenProcess</td>
                                <td>@table.DateCreated.ToString("yyyy-MM-dd HH:mm:ss.fff", CultureInfo.InvariantCulture)</td>
                                <td>@table.DateLastModified.ToString("yyyy-MM-dd HH:mm:ss.fff", CultureInfo.InvariantCulture)</td>
                                <td style="color: @color">@table.State</td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="row padding-1px m-0  border-enveloping-custom"
         style=" width: 100%; height: 10%; overflow-y: scroll; overflow-x: hidden; background-color: #ffffff;">
        <div class="col-12 p-0 m-0    ">
            <div class="row p-0 m-0  " style=" width: 100%; height: 100%;">
                <div class="col-4"></div>


                <div class="col-1">
                    <div class=" p-0 m-0  bottom-shadow button-panel"
                         title="backward"
                         style="height: 100%; width: 100%" @onclick="@Backward">
                        <span role="img" class="  ">
                            <img src="icons/go_back.svg" width="25" height="25"/>
                        </span>
                    </div>
                </div>
                <div class="col-1 ">
                    <div class=" p-0 m-0 bottom-shadow button-panel"
                         title="forward"
                         style="height: 100%; width: 100%" @onclick="@Forward">
                        <span role="img" class=" ">
                            <img src="icons/go_next.svg" width="25" height="25"/>
                        </span>
                    </div>
                </div>

                <div class="col-1">
                    @{
                        var value = _currentPage+1;
                        
                    }
                     @value of @_countAllPage
                </div>
                <div class="col-5"></div>
            </div>

        </div>
    </div>
</div>